div#content {
    line-height: 1.6;
    font-size: 1em;
    font-family: Helvetica, Arial, sans-serif;
    max-width: 75%;
}

div#title {
    font-size: 2.0em;
    font-weight: bold;
    margin-bottom: .6em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.1em;
}

div#copyright {
    font-size: 0.9em;
    font-weight: normal;
    margin-top: .6em;
    margin-bottom: .6em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.0em;
}

div.assembly_med {
    clear: left;
    float: left;
    display: block;
    width:200px;
    margin: 5px 15px 7px 1px;
    padding: 2px 2px 2px 2px;
    line-height: 1px;
    position: relative;
}

div.assembly_med img {
    height:auto;
    max-width:100%;
}

div.caption {
    display: block;
    font-size: .9em;
    line-height: 1.1em;
}

div.credit {
    display: block;
    font-size: .7em;
    line-height: 1em;
}


em {
    padding-right:.1em;
}

span.smcaps {
    font-variant:small-caps;
}

span.overbar {
    text-decoration:overline;
}

span.undeline {
    text-decoration:underline;
}

div.author {
    border-left: 6px solid #cccccc;
    clear: left;
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
}